<p>{{ object.property.title }}</p>
<p>{{ object.property.city }}</p>
<p>{{ object.property.state_province }}</p>
<p>{{ object.property.property_type }}</p>
<p>{{ object.property.postal_code }}</p>
<p>{{ object.property.square_footage }}</p>
<p>{{ object.property.bedrooms }}</p>
<p>{{ object.property.bathrooms }}</p>
<p>{{ object.property.year_built }}</p>
<p>{{ object.property.description }}</p>
<p>{{ object.property.price }}</p>
<p>{{ object.property.status }}</p>
<p>{{ object.property.location }}</p>
<p>{{ object.property.amenities.title }}</p>
